<!DOCTYPE html>
<html lang="ru" dir="ltr">
<head>
  <title></title>
  <script type="text/javascript">
    var arr_en = ["White", "Black", "Red"];
    var arr_ru = ["Белый", "Черный", "Красный"];
    function ru_to_en(a) {
      var a = document.getElementById("ru").value;
      for (var i = 0; i < arr_en.length; i++) {
        if (arr_en[i] == a) document.getElementById("res_en").innerHTML = arr_ru[i];

      }
    }
  </script>

</head>
  <body>
    <h3>English to Russian</h3> <h4 class="words">Words on english : White, Red, Black</h4>
    <input type="text" id="ru" placeholder="Text">
    <br>
    <br>
    <output id="res_en"></output>
    <br>
    <br>
    <input type="button" value="Translate to russian" onclick="ru_to_en()">
    <br>

    <br>
  </body>
</html>
